/* ----- BUTTONS ----- */

.btn-buy {
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    background-color: desaturate($button, 10);
    line-height: 18px;
    padding: 16px 10px;
    color: #eee;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    margin-top: 40px;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 $shadow, 0 6px 20px 0 $shadow;
    transition: all 0.5s ease;
}

.btn-buy:hover {
    background-color: saturate($button, 20);
    color: #eee;
    transform: scale(1.04);
}


/* ---SMALL CARD --- */

.card-small {
    .btn-buy {
        display: block;
        width: 140px;
        margin-left: auto;
        margin-right: auto;
        font-size: 14px;
        background-color: desaturate($button, 10);
        line-height: 14px;
        padding: 14px 8px;
        color: #eee;
        font-weight: 600;
        font-family: 'Open Sans', sans-serif;
        margin-top: 30px;
        border-radius: 6px;
        box-shadow: 0 4px 8px 0 $shadow, 0 6px 20px 0 $shadow;
        transition: all 0.5s ease;
    }

    .btn-buy:hover {
        background-color: saturate($button, 20);
        color: #eee;
        transform: scale(1.1);
    }
}
