/*  ---- COLORS ---- */

/* BACKGROUNDS */

$footer: rgba(40, 40, 40, 1.0);

/* TYPOGRAPHY */

$brand: rgba(252, 66, 55, 0.7);
$link: rgba(111, 111, 111, 1.0);

/* BUTTONS */

$button: rgba(43, 150, 239, 1.0);
$shadow: rgba(0, 0, 0, 0.2);
